body {
	background-color: #350404;
	height: 0px;
}
#Ime {
	background-color: #556B2F;
	color: orange;
	margin-right: 1100px;
	font-family: Saiyan Sans;
}

#Sadrzaj {
	background-color: #1E90FF;
	margin-right: 1100px;
	font-family: Saiyan Sans;
}

#Ime2 {
	background-color: #556B2F;
	color: orange;
	margin-right: 1100px;
	font-family: Saiyan Sans;
}

#SadrzajU2 {
	background-color: #1E90FF;
	margin-right: 1100px;
	font-family: Saiyan Sans;
}

#Ime3 {
	background-color: #556B2F;
	color: orange;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	left: 250px;
	bottom: 785px;
}
#sadrzajU3 {
	background-color: #1E90FF;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	left: 250px;
	bottom: 785px;
}
#Ime4 {
	background-color: #556B2F;
	color: orange;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	left: 250px;
	bottom: 785px;
}
#sadrzajU4 {
	background-color: #1E90FF;
	margin-left: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	right: 850px;
	bottom: 785px;
}
#ime5 {
	background-color: #556B2F;
	color: orange;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	left: 505px;
	bottom: 1571px;
}
#sadrzajU5 {
	background-color: #1E90FF;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	left: 505px;
	bottom: 1571px;
}
#ime6 {
	background-color: #556B2F;
	color: orange;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	left: 505px;
	bottom: 1571px;
}
#sadrzajU6 {
	background-color: #1E90FF;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	left: 505px;
	bottom: 1571px;
}
#ime7 {
	background-color: #556B2F;
	color: orange;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	left: 760px;
	bottom: 2357px;
}
#sadrzajU7 {
	background-color: #1E90FF;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	left: 760px;
	bottom: 2358px;
}
#ime8 {
	background-color: #556B2F;
	color: orange;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	left: 760px;
	bottom: 2357px;
}
#sadrzajU8 {
	background-color: #1E90FF;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	left: 760px;
	bottom: 2358px;
}
#ime9 {
	background-color: #556B2F;
	color: orange;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	left: 1010px;
	bottom: 3145px;
}
#sadrzajU9 {
	background-color: #1E90FF;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	left: 1010px;
	bottom: 3145px;
}
#ime10 {
	background-color: #556B2F;
	color: orange;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	left: 1010px;
	bottom: 3145px;
}
#sadrzajU10 {
	background-color: #1E90FF;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	left: 1010px;
	bottom: 3145px;
}
#Ime11 {
	background-color: #556B2F;
	color: orange;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	right: 1px;
	bottom: 3150px;
}
#sadrzajU11 {
	background-color: #1E90FF;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	right: 1px;
	bottom: 3150px;
}
#ime12 {
	background-color: #556B2F;
	color: orange;
	margin-right: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	left: 250px;
	bottom: 3543px;
}
#sadrzajU12 {
	background-color: #1E90FF;
	margin-left: 1100px;
	font-family: Saiyan Sans;
	position: relative;
	right: 850px;
	bottom: 3543px;
}
